---
import JanZoeng from "@/components/jan-zoeng.astro";
import Layout from "@/layouts/layout.astro";
import PrevNext from "@/components/ui/prev-next.astro";
import { getPrevNext } from "@/lib/get-prev-next";
import { getWritings } from "@/lib/get-collection";
import { render } from "astro:content";

export async function getStaticPaths() {
  const writings = await getWritings();
  return writings.map((writing) => {
    const { prevEntry, nextEntry } = getPrevNext(writings, writing.id);
    return {
      params: { slug: writing.id },
      props: { writing, prevEntry, nextEntry },
    };
  });
}

const { writing, prevEntry, nextEntry } = Astro.props;
const { Content } = await render(writing);
---

<Layout
  title={writing.data.title}
  description={writing.data.description}
  slug={writing.id}
  image={writing.data.image}
>
  <div class="w-full space-y-12">
    <section class="space-y-6 border-b pb-8 md:pb-12">
      <header class="mx-auto flex max-w-2xl flex-col items-start gap-3">
        <time
          datetime={writing.data.date.toISOString()}
          class="text-muted-foreground text-sm"
        >
          {
            writing.data.date.toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }
        </time>
        <h1 class="text-4xl font-medium md:text-5xl">
          {writing.data.title}
        </h1>
      </header>
    </section>
    <section class="space-y-8 border-b pb-8 md:pb-12">
      <article class="prose">
        <Content />
        <JanZoeng />
      </article>
    </section>
    {
      (prevEntry || nextEntry) && (
        <section class="pb-8 md:pb-12">
          <PrevNext
            prev={
              prevEntry
                ? {
                    label: prevEntry.title,
                    href: `/writing/${prevEntry.id}`,
                  }
                : undefined
            }
            next={
              nextEntry
                ? {
                    label: nextEntry.title,
                    href: `/writing/${nextEntry.id}`,
                  }
                : undefined
            }
          />
        </section>
      )
    }
  </div>
</Layout>
